{
    "class": "AS3",
    "action": "deploy",
    "persist": true,
    "declaration": {
        "class": "ADC",
        "schemaVersion": "{{ as3_schema_version }}",
        "{{ as3_tenant }}": {
            "class": "Tenant"
        }
    }
}